<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scribble.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>878F45F8A82525E54B8F86BEFC8CE26701CF4721</string>
				<key>dateExpires</key>
				<string>03/04/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z8YFT375S3.com.onestop.GiveAway</string>
				<key>com.apple.developer.game-center</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>Z8YFT375S3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Scribble.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>147fca29-3e5a-496b-b891-eda5e84e3049</string>
				<key>dateExpires</key>
				<string>17/04/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.onestop.GiveAway</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z8YFT375S3</string>
				<key>name</key>
				<string>Codeit Softwares Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
